<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>帝豪EC7</string>
	<string>上海通用雪佛兰赛欧</string>
	<string>一汽大众迈腾</string>
	<string>上海大众途观</string>
	<string>东风标致307v</string>
	<string>海马汽车普利马</string>
	<string>东风日产骐达</string>
	<string>一汽丰田花冠</string>
	<string>上海通用别克凯越</string>
</array>
</plist>
