<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>name</string>
		<key>title</key>
		<string>姓名</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>IDcard</string>
		<key>title</key>
		<string>身份证</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>keyboardType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>phone</string>
		<key>title</key>
		<string>手机号码</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>keyboardType</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>carType</string>
		<key>title</key>
		<string>车型</string>
		<key>cellClass</key>
		<string>ChoseOrEditTableViewCell</string>
		<key>keyboardType</key>
		<real>0</real>
	</dict>
	<dict>
		<key>id</key>
		<string>carId</string>
		<key>title</key>
		<string>车牌号</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>keyboardType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>insuranceAgent</string>
		<key>title</key>
		<string>保险公司</string>
		<key>cellClass</key>
		<string>ChoseOrEditTableViewCell</string>
		<key>keyboardType</key>
		<real>0</real>
	</dict>
	<dict>
		<key>id</key>
		<string>hasBoughtForceInsurance</string>
		<key>title</key>
		<string>交强险</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>2</integer>
		<key>keyboardType</key>
		<integer>100</integer>
		<key>selectCellAction</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>commercialInsurance</string>
		<key>title</key>
		<string>商业险</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>2</integer>
		<key>keyboardType</key>
		<integer>100</integer>
		<key>selectCellAction</key>
		<string>2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>boughtDate</string>
		<key>title</key>
		<string>购买日期</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>1</integer>
		<key>keyboardType</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>yearInterval</string>
		<key>title</key>
		<string>购买年限</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>0</integer>
		<key>keyboardType</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>remindDate</string>
		<key>title</key>
		<string>是否到期提醒</string>
		<key>cellClass</key>
		<string>TextFieldTableViewCell</string>
		<key>cellType</key>
		<integer>1</integer>
		<key>keyboardType</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>imageArray</string>
		<key>title</key>
		<string>添加图片</string>
		<key>cellClass</key>
		<string>UITableViewCell</string>
		<key>cellType</key>
		<integer>2</integer>
		<key>keyboardType</key>
		<integer>100</integer>
		<key>selectCellAction</key>
		<string>4</string>
	</dict>
</array>
</plist>
